$IMCCONFIG

# IMC2 Freedom CL-2.1 ACK!MUD 4.3.1 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      ACK!FUSS
Autoconnect    0
MinPlayerLevel 8
MinImmLevel    83
AdminLevel     84
Implevel       85
InfoName       ACK!MUD FUSS
InfoHost       home.gotr00t.us
InfoPort       3000
InfoEmail      genocaust@gmail.com
InfoWWW        http://gotr00t.us
InfoBase       ACK!MUD 4.3.1
InfoDetails    SVN repo setup to try and further the stock branch where it was left at 4.3.1 years ago. Using GCC4 cleanups tarball by Samson.

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     server02.mudbytes.net
ServerPort     0
ClientPwd      Client password for the router you connect to
ServerPwd      Server password for the router you connect to
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         1
End

$END
