$IMCCONFIG

# IMC2 Freedom CL-2.1a AckFUSS 4.3.7 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      AF
Autoconnect    1
MinPlayerLevel 8
MinImmLevel    83
AdminLevel     84
Implevel       85
InfoName       AckFUSS Dev
InfoHost       home.gotr00t.us
InfoPort       3000
InfoEmail      genocaust@gmail.com
InfoWWW        http://www.ackmud.net
InfoBase       AckFUSS 4.3.7
InfoDetails    AckFUSS is based on ACK!MUD 4.3.1 and is an ongoing effort of development and improvement.

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     server01.mudbytes.net
ServerPort     5000
ClientPwd      A!yXlu9
ServerPwd      Yp03X^j
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         1
#Your server is expecting SHA256 authentication now. Do not remove this line unless told to do so.
SHA256Pwd      1
End

$END
