$IMCCONFIG

# IMC2 Freedom CL-2.1 AckFUSS 4.4.1 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      Your_MUD_Abbr
Autoconnect    0
MinPlayerLevel 8
MinImmLevel    83
AdminLevel     84
Implevel       85
InfoName       Your_MUD_Name
InfoHost       Your_MUD_Host
InfoPort       Your_MUD_Port
InfoEmail      Your_MUD_Email
InfoWWW        Your_MUD_Website
InfoBase       AckFUSS 4.4.1
InfoDetails    Your MUD details

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     server02.mudbytes.net
ServerPort     9000
ClientPwd      Client password for the router you connect to
ServerPwd      Server password for the router you connect to
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         1
End

$END

